In [ ]:
import pandas as pd # data processing
import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pickle

Business Objective:

Generate the features from the dataset and use them to recommend the

books accordingly to the users.

In [ ]:
#bk = pd.read_csv("/content/Books.csv", sep=",",error_bad_lines=False)
#rt = pd.read_csv("/content/Ratings.csv")
#user = pd.read_csv("/content/Users.csv")

user = pd.read_csv("D:/Shiva Data Science/Project-02/Users.csv")
bk = pd.read_csv("D:/Shiva Data Science/Project-02/Books.csv")
rt = pd.read_csv("D:/Shiva Data Science/Project-02/Ratings.csv")

In [ ]:
bk.head()

In [ ]:
rt.head()

In [ ]:
user.head()

Dimension of dataset

In [ ]:
bk.shape

In [ ]:
rt.shape

In [ ]:
user.shape

EDA

In [ ]:
bk.info()

In [ ]:
rt.info()

In [ ]:
user.info()

In [ ]:
bk.describe()

In [ ]:
rt.describe()

In [ ]:
user.describe()

In [ ]:
bk.isnull().sum()

In [ ]:
rt.isnull().sum()

In [ ]:
user.isnull().sum()

From user dataset age column is having maximum missing values

In [ ]:
bk.duplicated().sum()

In [ ]:
rt.duplicated().sum()

In [ ]:
user.duplicated().sum()

No duplicate values in three datasets

# Data cleaning

Book dataset

In [ ]:
# nan values in particular column
bk.loc[(bk['Book-Author'].isnull()),: ]

here Book-Author is with nan/missing value

In [ ]:
# nan values from Publisher column
bk.loc[(bk['Publisher'].isnull()),: ]

Here Publisher is with nan/missing values

In [ ]:
# getting unique value from 'year_of_publication' feature
bk['Year-Of-Publication'].unique()

In [ ]:
# Extracting and fixing mismatch in feature 'year_of_publication', 'publisher', 'book_author', 'book_title'
bk[bk['Year-Of-Publication'] == 0]
#bk[bk['Year-Of-Publication'] == 'nan']

4618 rows with zero values as year of publication


 Extracting and fixing mismatch in feature year-of-publication column

In [ ]:
# Replace 'Year-Of-Publication' values equal to 0 with a new value (e.g., 2023)
new_value = 2023
bk.loc[bk['Year-Of-Publication'] == 0, 'Year-Of-Publication'] = new_value

In [ ]:
print(bk['Year-Of-Publication']==0)  # Here fixed year-of-publication with new value

In [ ]:
# Check for NaN values in the 'Year-Of-Publication' column
is_nan = pd.isna(bk['Year-Of-Publication'])
print(is_nan)

Extracting and fixing mismatch in feature

There has to make some correction in three rows as you can see in above output.

In [ ]:
bk.index

In [ ]:
#bk.loc[221678]

In [ ]:
#bk.loc[209538]

In [ ]:
#bk.loc[220731]

Let's fix it and make it in correct format as per our dataset.

In [ ]:
# function to fix mismatch data in feature 'book_title', 'book_author', ' year_of_publication', 'publisher'
def replace_df_value(df, idx, col_name, val):
    df.loc[idx, col_name] = val
    return df

In [ ]:
replace_df_value(bk, 209538, 'Book-Title', 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)')
replace_df_value(bk, 209538, 'Book-Author', 'Michael Teitelbaum')
replace_df_value(bk, 209538, 'Year-Of-Publication', 2000)
replace_df_value(bk, 209538, 'Publisher', 'DK Publishing Inc')

replace_df_value(bk, 221678, 'Book-Title', 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)')
replace_df_value(bk, 221678, 'Book-Author', 'James Buckley')
replace_df_value(bk, 221678, 'Year-Of-Publication', 2000)
replace_df_value(bk, 221678, 'Publisher', 'DK Publishing Inc')

replace_df_value(bk, 220731,'Book-Title', "Peuple du ciel, suivi de 'Les Bergers")
replace_df_value(bk, 220731, 'Book-Author', 'Jean-Marie Gustave Le ClÃ?Â©zio')
replace_df_value(bk, 220731, 'Year-Of-Publication', 2003)
replace_df_value(bk, 220731, 'Publisher', 'Gallimard')

In [ ]:
bk.loc[221678]

In [ ]:
bk.loc[209538]

In [ ]:
bk.loc[220731]

Mismatch is fixed. now we can view perfect matching for their corresponding features.

In [ ]:
bk.loc[(bk['Publisher'].isnull()),: ]

In [ ]:
# replacing 'Nan' with 'Not Mentioned'
bk.loc[(bk['ISBN'] == '193169656X'),'Publisher'] = 'Not Mentioned'
bk.loc[(bk['ISBN'] == '1931696993'),'Publisher'] = 'Not Mentioned'

In [ ]:
bk[bk['Publisher'] == 'Not Mentioned']

So we have change the publisher's name from 'NaN' to 'Not Mentioned'.

# User dataset

Visualize the missing values from User dataset,Here age column is having maximum missing values

In [ ]:
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 250

sns.heatmap(user.isna(), cmap=['#3434eb','#3ffc19'])

In [ ]:
# unique value in age column
user['Age'].unique()

here we can see NaN values

In [ ]:
# replacing nan with average of 'age'
user['Age'].fillna((user['Age'].mean()), inplace=True)

In [ ]:
user['Age'].unique()

we fix null values for age column with average age.

In [ ]:
sns.distplot(user['Age'].dropna()) # the distribution is positively skewed (tail to the right)

In [ ]:
plt.figure(figsize=(20, 8))      # we can see maximum outliers in Age column

plt.boxplot(user['Age'].dropna())  # Drop NaN values before plotting
plt.xlabel('Age')
plt.ylabel('Boxplot')
plt.title('Boxplot of Age')
plt.show()

# Rating dataset

In [ ]:
rt.head()        # ISBN column is same from rating and book dataset

In [ ]:
# finding unique ISBNs from rating and book dataset
unique_ratings = rt[rt.ISBN.isin(bk.ISBN)]
unique_ratings

In [ ]:
print(rt.shape)
print(unique_ratings.shape)

In [ ]:
# unique ratings from 'book_rating' feature
unique_ratings['Book-Rating'].unique()

#Data Visualizations

Data visualization using book dataset

In [ ]:
# Replace non-numeric values with NaN
bk['Year-Of-Publication'] = pd.to_numeric(bk['Year-Of-Publication'], errors='coerce')

# Plot the distribution
sns.distplot(bk['Year-Of-Publication'].dropna())  # Drop NaN values before plotting

Distribution of books ratings

In [ ]:
# Plot histogram of book ratings
plt.hist(rt['Book-Rating'], bins=10)
plt.xlabel('Rating')
plt.ylabel('Count')
plt.title('Distribution of Book Ratings')
plt.show()

In [ ]:
unique_publishers = bk['Publisher'].unique()  # Get unique publisher values as a NumPy array
count_unique_publishers = len(unique_publishers)  # Count the number of unique publishers

print("Number of unique publishers:", count_unique_publishers)

Top 10 publishers with the most books

In [ ]:
top_publishers = bk['Publisher'].value_counts().head(10)

# Create a bar chart
plt.figure(figsize=(10, 6))
top_publishers.plot(kind='bar')
plt.title('Top 10 Publishers with the Most Books')
plt.xlabel('Publisher')
plt.ylabel('Number of Books')
plt.xticks(rotation=45)
plt.show()

Top 10 Authors with the most books

In [ ]:
unique_author = bk['Book-Author'].unique()  # Get unique author values as a NumPy array
count_unique_author = len(unique_author)  # Count the number of unique author

print("Number of unique Author:", count_unique_author)

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(y="Book-Author",palette = 'Paired', data=bk,order=bk['Book-Author'].value_counts().index[0:10])
plt.title("Top 10 author with number of books")

In [ ]:
unique_books = bk['Book-Title'].unique()  # Get unique books values as a NumPy array
count_unique_books = len(unique_books)  # Count the number of unique books

print("Number of unique Books:", count_unique_books)

Top 10 years when most books got published

In [ ]:
# Group the data by Year-Of-Publication and count the number of books in each year
year_counts = bk['Year-Of-Publication'].value_counts().sort_values(ascending=False)


# Top 10 years with the most books published
top_10_years = year_counts.head(10)

# Convert years to integers
top_10_years.index = top_10_years.index.astype(int)

# Create a bar chart
plt.figure(figsize=(10, 6))
top_10_years.plot(kind='bar')
plt.title('Number of Books Published by Year')
plt.xlabel('Year of Publication')
plt.ylabel('Number of Books')

plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

Age distributions of users_data

In [ ]:
plt.figure(figsize=(10,8))
user.Age.hist(bins=[10*i for i in range(1, 10)], color = 'grey')
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

Top 10 books as per the number of ratings

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(y="Book-Title",palette = 'Paired',data= bk, order=bk['Book-Title'].value_counts().index[0:10])
plt.title("Top 10 books as per number of ratings")

In [ ]:
plt.figure(figsize=(2,2))
sns.countplot(x="Book-Rating",palette = 'Paired',data= unique_ratings)

#Model:  Popularity Based Recommender System

In [ ]:
ratings_with_name = rt.merge(bk,on='ISBN')

In [ ]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

In [ ]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

# top 50 most popular books

In [ ]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [ ]:
popular_df = popular_df.merge(bk,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [ ]:
popular_df

In [ ]:
popular_df['Image-URL-M'][0]

# Model: Collaborative Filtering Based Recommender System

In [ ]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
rating_by_users = x[x].index

In [ ]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(rating_by_users)]

In [ ]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [ ]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [ ]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [ ]:
pt.fillna(0,inplace=True)

In [ ]:
pt

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores   # find similarity with each book and each user

In [ ]:
def recommend(book_name, pt, similarity_scores, bk):
    try:
        # Find the index of the given book_name
        index = np.where(pt.index == book_name)[0][0]

        # Sort and select similar items
        similar_items = sorted(enumerate(similarity_scores[index]), key=lambda x: x[1], reverse=True)[1:5]

        data = []
        for i in similar_items:
            item = []
            temp_df = bk[bk['Book-Title'] == pt.index[i[0]]]
            item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
            item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
            item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

            data.append(item)

        return data
    except IndexError:
        # Handle the case where the book_name is not found in pt.index
        return "Book not found in the database"

# Usage example:
recommended_books = recommend("Book Name", pt, similarity_scores, bk)

In [ ]:
similarity_scores.shape

In [ ]:
recommend("1984", pt, similarity_scores, bk)

In [ ]:
pt.index[0]

In [ ]:
bk.drop_duplicates('Book-Title')

In [ ]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(bk,open('bk.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

Simple Evaluation Using Existing Data for popularity recommendation evaluation

In [ ]:
# Merge the datasets based on common columns
merged_df = bk.merge(rt, on='ISBN', how='inner')
merged_df = merged_df.merge(user, on='User-ID', how='inner')

In [ ]:
#pip install scikit-surprise

In [ ]:
print(merged_df.head())

In [ ]:
# Calculate popularity scores for each book (e.g., based on average ratings or number of ratings)
popularity_scores = merged_df.groupby('User-ID')['Book-Rating'].mean().reset_index()
popularity_scores.columns = ['User-ID', 'popularity_score']

In [ ]:
# Sort books by popularity score in descending order
popularity_scores = popularity_scores.sort_values(by='popularity_score', ascending=False)

In [ ]:
# Top-N recommendation evaluation using your entire dataset
N = 10  # Number of top recommendations to evaluate

In [ ]:
# Calculate precision and recall for the top-N recommended books
def evaluate_popular_filtering(top_recommendations, data):
    relevant_books = set(data['User-ID'])
    recommended_books = set(top_recommendations['User-ID'][:N])

    # Calculate precision and recall
    precision = len(recommended_books.intersection(relevant_books)) / N
    recall = len(recommended_books.intersection(relevant_books)) / len(relevant_books)

    return precision, recall

precision, recall = evaluate_popular_filtering(popularity_scores, merged_df)
print(f"Precision: {precision}, Recall: {recall}")

Precision is 1.0, This suggests that the system is highly accurate in terms of relevance.

A low recall value indicates that the system is not effective at finding all relevant books.
A low recall value means it suggests that the popularity-based system is not able to recommend a large portion of the books that users in the test dataset might find relevant.

# Collaborative Filtering evaluation Recommender System

Collaborative Filtering: Collaborative filtering is a recommendation technique that relies on user-item interactions or user-item ratings to make recommendations. SVD is often used in collaborative filtering to reduce the dimensionality of the user-item interaction matrix. By applying SVD to this matrix, you can uncover latent factors that represent user preferences and item characteristics. These latent factors are then used to make recommendations by predicting how a user would rate or interact with items they haven't seen before.

In [ ]:
pip install scikit-surprise

In [ ]:
import pandas as pd
from surprise import Dataset, Reader, accuracy
from surprise.model_selection import train_test_split
from surprise import SVD  # Example collaborative filtering algorithm

In [ ]:
merged_df.head(2)

In [ ]:
columns_to_drop = ['Image-URL-M', 'Image-URL-L', 'Location', 'Age']
merged_df = merged_df.drop(columns=columns_to_drop)

In [ ]:
# Create a Reader object specifying the rating scale
reader = Reader(rating_scale=(1, 10))

In [ ]:
# Load the merged_df into Surprise format
data = Dataset.load_from_df(merged_df[['User-ID', 'ISBN', 'Book-Rating']], reader)

In [ ]:
# Split the dataset into train and test sets
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)  # Use a fixed random_state for reproducibility

In [ ]:
# Build the full training set (convert DatasetAutoFolds to Dataset)
trainset = data.build_full_trainset()

In [ ]:
# Train a collaborative filtering model (SVD in this case)
model = SVD()
model.fit(trainset)

In [ ]:
# Make predictions on the test set
predictions = model.test(testset)

In [ ]:
# Calculate RMSE (Root Mean Square Error) as a measure of prediction accuracy
rmse = accuracy.rmse(predictions)

RMSE value says , on average, the predicted ratings are approximately 1.2000 units away from the actual ratings.

In [ ]:
# Calculate MAE (Mean Absolute Error) as another measure of accuracy
mae = accuracy.mae(predictions)

MAE value says here on average, the predicted ratings differ from the actual ratings by approximately 1.0209 units.

In [ ]:
print(f"RMSE: {rmse}, MAE: {mae}")

This code builds the full training set using the build_full_trainset method and then trains the collaborative filtering model using the full training set. After training, it makes predictions on the test set and calculates RMSE and MAE for evaluation.

In [ ]:
pip freeze > requirements.txt

In [ ]:


# Save the 'popular_df' DataFrame to 'popular.pkl'
with open('popular.pkl', 'wb') as popular_file:
    pickle.dump(popular_df, popular_file)
    
with open('pt.pkl', 'wb') as pt_file:
    pickle.dump(pt, pt_file) 

# Assuming 'model' is your trained collaborative filtering model
# Save the model to a file
with open('collaborative_model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)

# Save the 'bk' DataFrame to 'bk.pkl'
with open('bk.pkl', 'wb') as bk_file:
    pickle.dump(bk, bk_file)

# Save the 'similarity_scores' array to 'similarity_scores.pkl'
with open('similarity_scores.pkl', 'wb') as scores_file:
    pickle.dump(similarity_scores, scores_file)